.wrapper {
  margin-top: 20px;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #2196F3;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
}