@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #E5E5E5;
}

.app {
  padding: 50px 103px;
  background: #F3F7FA;
  max-width: 960px;
  margin: 0 auto;
  &__header {
    text-align: center;
  }
}

.app__container {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
}

@media (max-width: 882px) {
  .app {
    padding: 50px 50px;
  }
}

@media (max-width: 786px) {
  .app {
    padding: 50px 20px;
  }
  .app__container {
    align-items: center;
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .app {
    padding: 50px 10px;
  }
}